* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .container {
  border: 3px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
} */

.upperBtn-box {
  width: 100%;
  height: 100px;
  /* background-color: aqua; */
  display: flex;
  padding: 30px;
}
.upperBtn-box .left-search {
  width: 50%;
  height: 100%;
  /* background-color: sandybrown; */
}
.upperBtn-box .right-addUser {
  width: 50%;
  height: 100%;
  /* background-color: rgb(96, 244, 98); */
}
/* .upperBtn-box .right-addUser button {
  border: none;
  outline: none;
  background-color: blue;
} */

.table-user {
  padding: 10px;
  margin: 5px;
}

.formAdd {
  border: 1px solid green;
}

.table-user {
  border: 1px solid blue;
}
